<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Gauchito Git</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/views/index.ejs"><img src="/images/logo.png" alt="logo" class="logo"></a>
            <ul class="menu">
                <li><a href="login.ejs">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="body-container">
        <a href="/views/productsEmpanadas.ejs">
        <div class="container">
            <div class="card">
                    <div class="front"></div>      
                    <div class="back">
                        <h1>Empanadas</h1>
                    </div>
            </div>
        </div>
        </a>

        <a href="/views/productsAlfajores.ejs">
        <div class="container">
            <div class="card">
                <div class="front"></div>
                    <div class="back">
                        <h1>Alfajores</h1>
                        
                    </div>
            </div>
        </div>
    </a>

    <a href="/views/productsMates.ejs">
        <div class="container">
            <div class="card">
                <div class="front"></div>
                    <div class="back">
                        <h1>Mates</h1>      
                    </div>
            </div>
        </div>
    </a>
        
    </section>

    <footer>
        <div class="footer-container">
            <ul class="socials">
                <li><a href="#"><img src="/images/facebook.svg" alt="facebook" class="icons"></a></li>
                <li><a href="#"><img src="/images/whatsapp.svg" alt="whatsapp" class="icons"></a></li>
                <li><a href="#"><img src="/images/truck.svg" alt="delivery" class="icons"></a></li>
            </ul>
        </div>
    </footer>
    
    
</body>
</html>