<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;0,900;1,400;1,900&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
    <title>Gauchito Git</title>
</head>
<body class="triangulo-fondo">
    <img class="logo" src="./img/logo.png" alt="logo"/>
    <section class="formulario-login">
            <input class="controles" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
            <input class="controles" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido">
            <input class="controles" type="email" name="email" id="email" placeholder="Ingrese su email">
            <input class="controles" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña">
            <button style="--clr:#1e9bff" class="boton" type="submit">Ingresar</button>
    </section>
</body>
<script src=""></script>
</html>