<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;0,900;1,400;1,900&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce963bb78f.js" crossorigin="anonymous"></script>
    <title>Gauchito Git</title>
</head>
<body>
    <div class="container-all">
        <div class="container-bar">
            <!-- <i class="fa-solid fa-bars"></i> -->
            <img class="logo" src="/images/logo.png" alt="logo"/>
        </div>
        
        <section class="formulario-registro">
            <input class="controles" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
            <input class="controles" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido">
            <input class="controles" type="email" name="email" id="email" placeholder="Ingrese su email">
            <input class="controles" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña">
            <a class= "terminos" href="#">Términos y condiciones</a>
            <button class="boton" type="submit">Registrar</button>
            <p class="cuenta"><a href="./formulario-login.html">¿Ya tengo cuenta?</a></p> 
        </section>
    </div>

</body>
</html>